// COLORS
$color-primary: #ffffff;
$color-primary-light: #646464;
$color-primary-dark: #39ce9c;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #375369;
$color-grey-dark-2: #999;
$color-grey-dark-3: #000;


$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 110rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 5rem;